	<@div class='position-relative'>
    <@div id='forms-admin-map' params='style="height: 400px; width: 100%"'></@div>
    <@button color='default' id='admin-forms-map-toggle'>
        <@icon style='compress' title='Compresser' />
    </@button> 
</@div>


<p  id="search_adress">
	#i18n{module.cartography.solr.manage_map.search_adress}
	<@input type='text' id='center_map' name='center_map'  maxlength=255 tabIndex='6' />
	<@input type="hidden" id='4_idAddress' name='4_idAddress'  value="" />
	<@input type="hidden" id='4_geometry' name='4_geometry'  value="" />
</p>





<link href="css/admin/style/bootstrap4/all.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="js/jquery/plugins/toastr/toastr.min.css" >
<script src="js/jquery/plugins/toastr/toastr.min.js"></script>
<link href="js/plugins/carto/leaflet/leaflet.css" rel="stylesheet" />
<link href="js/plugins/carto/leaflet/MarkerCluster.css" rel="stylesheet" />
<link href="js/plugins/leaflet/leaflet/MarkerCluster.Default.css" rel="stylesheet" />
<link href="js/plugins/carto/leafletdraw/leaflet.draw.css" rel="stylesheet"></script>
<script type="text/javascript" src="js/plugins/carto/leaflet/leaflet-src.js"></script>
<script type="text/javascript" src="js/plugins/carto/leaflet/leaflet.markercluster.js"></script>
<script type="text/javascript" src="js/plugins/carto/leafletdraw/leaflet.draw.js"></script>
<script type="text/javascript" src="js/plugins/carto/leafletdraw/BoundaryCanvas.js"></script>
<script type="text/javascript" src="js/plugins/carto/turf/turf.min.js"></script>
<script type="text/javascript" src="js/plugins/carto/leafletdraw/leaflet-localfr.js"></script>

<script type="text/javascript">
//Before map(s) is(are) being initialized.
var _round = function(num, len) {
    return Math.round(num*(Math.pow(10, len)))/(Math.pow(10, len));
};
// Helper method to format LatLng object (x.xxxxxx, y.yyyyyy)
var strLatLng = function(latlng) {
    return "("+_round(latlng.lat, 6)+", "+_round(latlng.lng, 6)+")";
};

// Generate popup content based on layer type
// - Returns HTML string, or null if unknown object
var getPopupContent = function(layer) {
	var content = "${mapLoaded.popupContent!}";
    return content;
    // Marker - add lat/long
    if (layer instanceof L.Marker || layer instanceof L.CircleMarker) {
        return strLatLng(layer.getLatLng());
    // Circle - lat/long, radius
    } else if (layer instanceof L.Circle) {
        var center = layer.getLatLng(),
            radius = layer.getRadius();
        return "Center: "+strLatLng(center)+"<br />"
              +"Radius: "+_round(radius, 2)+" m";
    // Rectangle/Polygon - area
    } else if (layer instanceof L.Polygon) {
        var latlngs = layer._defaultShape ? layer._defaultShape() : layer.getLatLngs(),
            area = L.GeometryUtil.geodesicArea(latlngs);
        return "Area: "+L.GeometryUtil.readableArea(area, true);
    // Polyline - distance
    } else if (layer instanceof L.Polyline) {
        var latlngs = layer._defaultShape ? layer._defaultShape() : layer.getLatLngs(),
            distance = 0;
        if (latlngs.length < 2) {
            return "Distance: N/A";
        } else {
            for (var i = 0; i < latlngs.length-1; i++) {
                distance += latlngs[i].distanceTo(latlngs[i+1]);
            }
            return "Distance: "+_round(distance, 2)+" m";
        }
    }
    return null;
};

	//map dont overlap menu in BO
	var rdiv = document.getElementById("forms-admin-map");
	rdiv.style.zIndex = 0;
	var mapsPlaceholder = [];
	var defaultZoom = ${mapLoaded.defaultZoom};
	var defautCenterMapY = ${mapLoaded.centerMapY?c};
	var defautCenterMapX = ${mapLoaded.centerMapX?c};
    map = L.map('forms-admin-map').setView([defautCenterMapX, defautCenterMapY], defaultZoom);
    var osmUrl = '${basemap}';
    //var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
    var osmAttrib= '${basemap_attribution}';
    var zoomMin = ${mapLoaded.zoomMin};
    var zoomMax = ${mapLoaded.zoomMax};
    var osm = new L.TileLayer(osmUrl, {minZoom: zoomMin, maxZoom: zoomMax, attribution: osmAttrib}).addTo(map);
    
    
    var marker_clusters = {};
    var marker_icons = {};
    var markersPolygon = new L.MarkerClusterGroup();
	
    map.on('draw:created', function (e) {
	    var type = e.layerType,
		layer = e.layer;

	    if (type === 'polygon') {
	    	
	    	var intersection = isPolygonIntersect(layer);
			
			if ( intersection ) 
			{
				toastr.error('#i18n{module.cartography.solr.manage_map.error.createPolygonExclusif}');
				document.getElementById('coordinate_polygon').value = "";
				if ( document.getElementById("action_createCoordonnee") != null )
					document.getElementById("action_createCoordonnee").disabled = true;
				if ( document.getElementsByName("action_doSaveStep")[0] != null )
		    		document.getElementsByName("action_doSaveStep")[0].disabled = true;
				return;
			}
	    	
	    	
			// structure the geojson object
			var geojson = {};
			geojson['type'] = 'Feature';
			geojson['geometry'] = {};
			geojson['geometry']['type'] = "Polygon";
	
			// export the coordinates from the layer
			coordinates = [];
			latlngs = layer.getLatLngs();
			
			if(!L.LineUtil.isFlat(latlngs)){
				latlngs = latlngs[0];
			}
			
			//document.getElementById('coordinate_polygon').value = layer.getLatLngs();
			document.getElementById('coordinate_polygon').value = "";
			for (var i = 0; i < latlngs.length; i++) {
			    coordinates.push([latlngs[i].lng, latlngs[i].lat])
			    //document.getElementById('coordinate_polygon').value = document.getElementById('coordinate_polygon').value + latlngs[i].lng + "," + latlngs[i].lat + ";"
			    document.getElementById('coordinate_polygon').value = document.getElementById('coordinate_polygon').value + latlngs[i].lng + "," + latlngs[i].lat + ";"
			}
			
			if ( document.getElementById("action_createCoordonnee") != null )
		    	document.getElementById("action_createCoordonnee").disabled = false;
	    	if ( document.getElementsByName("action_doSaveStep")[0] != null )
	    		document.getElementsByName("action_doSaveStep")[0].disabled = false;
	
			// push the coordinates to the json geometry
			geojson['geometry']['coordinates'] = [coordinates];
	
			// Finally, show the poly as a geojson object in the console
			console.log(JSON.stringify(geojson));

	    }
	    if (type === 'polyline') {
	    	
	    	var intersection = isPolylineIntersect( layer );
			if ( intersection.features.length > 0 ) 
			{
				toastr.error('#i18n{module.cartography.solr.manage_map.error.createPolylineExclusif}');
				document.getElementById('coordinate_polyline').value = "";
				if ( document.getElementById("action_createCoordonnee") != null )
					document.getElementById("action_createCoordonnee").disabled = true;
				if ( document.getElementsByName("action_doSaveStep")[0] != null )
		    		document.getElementsByName("action_doSaveStep")[0].disabled = true;
				return;

			}
	    	
	    	// export the coordinates from the layer
			coordinates = [];
			latlngs = layer.getLatLngs();
			
			if(!L.LineUtil.isFlat(latlngs)){
				latlngs = latlngs[0];
			}
			
			//document.getElementById('coordinate_polygon').value = layer.getLatLngs();
			document.getElementById('coordinate_polyline').value = "";
			for (var i = 0; i < latlngs.length; i++) {
			    coordinates.push([latlngs[i].lng, latlngs[i].lat])
			    //document.getElementById('coordinate_polyline').value = document.getElementById('coordinate_polyline').value + latlngs[i].lng + "," + latlngs[i].lat + ";"
			    document.getElementById('coordinate_polyline').value = document.getElementById('coordinate_polyline').value + latlngs[i].lng + "," + latlngs[i].lat + ";"
			}
			
			if ( document.getElementById("action_createCoordonnee") != null )
		    	document.getElementById("action_createCoordonnee").disabled = false;
	    	if ( document.getElementsByName("action_doSaveStep")[0] != null )
	    		document.getElementsByName("action_doSaveStep")[0].disabled = false;
	    	
	    }

	    map.addLayer(layer);
	});
    
    map.on('draw:edited', function (e) {
	    var multiplelayers = e.layers;
	    
	    if ( document.getElementById("action_createCoordonnee") != null )
	    	document.getElementById("action_createCoordonnee").disabled = false;
    	if ( document.getElementsByName("action_doSaveStep")[0] != null )
    		document.getElementsByName("action_doSaveStep")[0].disabled = false;
	    multiplelayers.eachLayer(function (layerEdited) {
		if (layerEdited instanceof L.Polygon){
		    document.getElementById('coordinate_polygon').value = "";
		    latlngs = layerEdited.getLatLngs();
		    
		    if(!L.LineUtil.isFlat(latlngs)){
				latlngs = latlngs[0];
			}
		    
		    var isErrorVertex = false;
			var intersection = isPolygonIntersect(layerEdited);

			if ( intersection ) 
			{
				toastr.error('#i18n{module.cartography.solr.manage_map.error.createPolygonExclusif}');
				isErrorVertex = true;
			}
		    
			for (var i = 0; i < latlngs.length; i++) {
			    document.getElementById('coordinate_polygon').value = document.getElementById('coordinate_polygon').value + latlngs[i].lng + "," + latlngs[i].lat + ";"
			    var markerEdit = L.marker(latlngs[i]);

			    if ( !isMarkerInsideMultiPolygon( markerEdit, polygonInclusion ) ) {
					toastr.error('#i18n{module.cartography.solr.manage_map.error.createPointInclusive}');
					isErrorVertex = true;
				}
			    if ( !isMarkerOutsideMultiPolygon( markerEdit, polygonExclusion ) ) {
					toastr.error('#i18n{module.cartography.solr.manage_map.error.createPointExclusif}');
					isErrorVertex = true;
				}
			    if ( isErrorVertex )
			    {
			    	document.getElementById('coordinate_polygon').value = "";
					if ( document.getElementById("action_createCoordonnee") != null )
						document.getElementById("action_createCoordonnee").disabled = true;
					if ( document.getElementsByName("action_doSaveStep")[0] != null )
			    		document.getElementsByName("action_doSaveStep")[0].disabled = true;
					return;
			    }
			}
		}
		else if (layerEdited instanceof L.Polyline){
		    document.getElementById('coordinate_polyline').value = "";
		    latlngs = layerEdited.getLatLngs();
		    
		    if(!L.LineUtil.isFlat(latlngs)){
				latlngs = latlngs[0];
			}
		    
		    var isErrorVertex = false;
			var intersection = isPolylineIntersect( layerEdited );
			
			if ( intersection.features.length > 0 ) 
			{
				toastr.error('#i18n{module.cartography.solr.manage_map.error.createPolylineExclusif}');
				isErrorVertex = true;
			}
		    
			for (var i = 0; i < latlngs.length; i++) {
			    document.getElementById('coordinate_polyline').value = document.getElementById('coordinate_polyline').value + latlngs[i].lng + "," + latlngs[i].lat + ";"
			    var markerEdit = L.marker(latlngs[i]);

			    if (! isMarkerInsideMultiPolygon(markerEdit, polygonInclusion) ) {
					console.log("vertex en dehors de la zone");
					toastr.error('#i18n{module.cartography.solr.manage_map.error.createPointInclusive}');
					isErrorVertex = true;
				}
			    if ( !isMarkerOutsideMultiPolygon( markerEdit, polygonExclusion ) ) {
					console.log("vertex en dehors de la zone");
					toastr.error('#i18n{module.cartography.solr.manage_map.error.createPointExclusif}');
					isErrorVertex = true;
				}
			    if ( isErrorVertex )
			    {
			    	document.getElementById('coordinate_polyline').value = "";
					if ( document.getElementById("action_createCoordonnee") != null )
						document.getElementById("action_createCoordonnee").disabled = true;
					if ( document.getElementsByName("action_doSaveStep")[0] != null )
			    		document.getElementsByName("action_doSaveStep")[0].disabled = true;
					return;
			    }
			}
		}
	    });
	});
	
	
	map.on('draw:editvertex', function (e) {
	    var multiplelayers = e.layers;
	    multiplelayers.eachLayer(function (layerEditedVertex) {
		//latlngs = layerEdited.getLatLngs();
		latlngs = layerEditedVertex.getLatLng();
		console.log(latlngs);
		var markerEdit = L.marker(latlngs);
		if (! isMarkerInsideMultiPolygon( markerEdit, polygonInclusion ) || !isMarkerOutsideMultiPolygon( markerEdit, polygonExclusion ) ) {
			var oLatLng = layerEditedVertex._origLatLng;
			//layerEditedVertex.setLatLng(oLatLng);
		}
		
	    });
	});
	
	var points = [
            <#list points as point>
            {
            	<#if point.data_layer.source == 'SOLR'>
	            	"code": "${point.code}",
	                "id": "${point.id}",
	                "geojson": ${point.geojson},
	                "datalayertitle" : "${point.data_layer_title}",
	                "datalayerpopup" : "${point.data_layer_popup}",
	                "iconPoint" : "<i class='ti ti-${point.layer_properties.pictogram} fa-${point.layer_properties.zoomMax}x'></i>",
	                "colorPolygon" : "${point.layer_properties.color!}",
	                "weight" : "${point.layer_properties.thickness!}",
	                "zoomMin" : "${point.layer_properties.zoomMin}",
	                "zoomPicto" : "${point.layer_properties.zoomPicto}",
	                "zoomRangePicto07" : "${point.layer_properties.pictoSizeZoom07}",
	                "zoomRangePicto812" : "${point.layer_properties.pictoSizeZoom812}",
	                "zoomRangePicto1315" : "${point.layer_properties.pictoSizeZoom1315}",
	                "zoomRangePicto1619" : "${point.layer_properties.pictoSizeZoom1619}",
	                "clusterMarker" : "${point.layer_properties.markerCluster?c}",
	                "idPicto" : "${point.layer_properties.iconImage!""}",
	                "inclusion" : "${point.layer_type.inclusion?c}",
	                "exclusion" : "${point.layer_type.exclusion?c}",
	                "datalayersource" : "${point.data_layer.source}"
                <#elseif point.data_layer.source == 'WFS'>
	                "datalayersource" : "${point.data_layer.source}",
                	"datalayerurlWFS" : "${point.data_layer.urlFlux}",
                	"datalayertypenameWFS" : "${point.data_layer.typeNameFlux}",
                	"datalayerversionWFS" : "${point.data_layer.versionFlux}",
                	 "datalayertitle" : "${point.data_layer_title}"
                </#if>
            }<#if point_has_next>,</#if>
            </#list>
        ];
	
	
	const mapZoomLayer = new Map();
	const mapZoomPicto = new Map();
	const mapZoomRangePicto0_7 = new Map;
	const mapZoomRangePicto8_12 = new Map;
	const mapZoomRangePicto13_15 = new Map;
	const mapZoomRangePicto16_19 = new Map;
	var polygonInclusion = new Array();
    var polygonExclusion = new Array();
	for (var i = 0; i < points.length; i++) {
		
		if ( points[i]["datalayersource"] == "SOLR" )
       	{
		
		var markers = undefined;
        var icon = undefined;
        var layer = "";
        var popupContent = undefined;
        

        var properties = points[i]["geojson"]["properties"];
        if (typeof(properties) != 'undefined') {
            layer = properties["layer"];
        }
        if (!layer) {
            layer = points[i]["datalayertitle"];
        }
        if (typeof(marker_clusters[layer]) != "undefined") {
            markers = marker_clusters[layer];
            icon    = marker_icons[layer];
        } else {

            if (typeof(icon) == 'undefined') {
            	if ( points[i]["clusterMarker"] == 'true' )
            	{
                	markers = new L.MarkerClusterGroup();
            	}
            	else
            	{
                	markers = new L.LayerGroup();
                }
                icon = new L.Icon.Default();
            }
            marker_clusters[layer] = markers;
            marker_icons[layer] = icon;
        }
        	
        mapZoomLayer.set(layer,points[i]["zoomMin"]);
        mapZoomPicto.set(layer,points[i]["zoomPicto"]);
            //Icon
            var idPictoUrl = points[i]["idPicto"];
            var fontAwesomeIcon;
            var fontAwesomeIcon0_7;
            var fontAwesomeIcon8_12;
            var fontAwesomeIcon13_15;
            var fontAwesomeIcon16_19;
            if ( idPictoUrl != null && idPictoUrl != '' )
            {
            	fontAwesomeIcon = L.icon({
				    iconUrl: "image?id="+ idPictoUrl + "&resource_type=public_image_resource",
				    iconSize: [32, 32],
				    className: 'myDivIcon'
				});
            	fontAwesomeIcon0_7 = L.icon({
				    iconUrl: "image?id="+ idPictoUrl + "&resource_type=public_image_resource",
				    iconSize: [points[i]["zoomRangePicto07"], points[i]["zoomRangePicto07"]],
				    className: 'myDivIcon'
				});
				fontAwesomeIcon8_12 = L.icon({
						    iconUrl: "image?id="+ idPictoUrl + "&resource_type=public_image_resource",
						    iconSize: [points[i]["zoomRangePicto812"], points[i]["zoomRangePicto812"]],
						    className: 'myDivIcon'
				});
				fontAwesomeIcon13_15 = L.icon({
						    iconUrl: "image?id="+ idPictoUrl + "&resource_type=public_image_resource",
						    iconSize: [points[i]["zoomRangePicto1315"], points[i]["zoomRangePicto1315"]],
						    className: 'myDivIcon'
				});
				fontAwesomeIcon16_19 = L.icon({
						    iconUrl: "image?id="+ idPictoUrl + "&resource_type=public_image_resource",
						    iconSize: [points[i]["zoomRangePicto1619"], points[i]["zoomRangePicto1619"]],
						    className: 'myDivIcon'
				});
				mapZoomRangePicto0_7.set(layer,fontAwesomeIcon0_7);
	            mapZoomRangePicto8_12.set(layer,fontAwesomeIcon8_12);
	            mapZoomRangePicto13_15.set(layer,fontAwesomeIcon13_15);
	            mapZoomRangePicto16_19.set(layer,fontAwesomeIcon16_19);
            }
            else
            {
              fontAwesomeIcon = L.divIcon({
			    html: points[i]["iconPoint"],
			    iconSize: [5, 5],
			    className: 'myDivIcon'
				});
              mapZoomRangePicto0_7.set(layer,fontAwesomeIcon);
              mapZoomRangePicto8_12.set(layer,fontAwesomeIcon);
              mapZoomRangePicto13_15.set(layer,fontAwesomeIcon);
              mapZoomRangePicto16_19.set(layer,fontAwesomeIcon);
			}
            
            
        
            if ( points[i]["geojson"]["geometry"]["type"] == "Point" ) {
	            
            	/*
            	var marker = L.marker([points[i]["geojson"]["geometry"]["coordinates"][0],points[i]["geojson"]["geometry"]["coordinates"][1]] ,{icon: fontAwesomeIcon});
	
	            if ( (typeof(properties) != 'undefined') && (typeof(properties["popupContent"]) != 'undefined') ) {
	                if (properties["popupContent"]) {
	                    marker.bindPopup(properties["popupContent"])
	                }
	            } else {
	            	var popupContent = getPopupContent(marker);
	                marker.bindPopup(points[i]["datalayerpopup"])
	            }
	
	            markers.addLayer(marker);
	            */
		    	var marker = L.geoJSON( points[i]["geojson"], {
			        pointToLayer: function (feature, latlng) {
			   			return L.marker(latlng, {icon: fontAwesomeIcon});
			  		},
					onEachFeature: function (feature, layer) {
			  			layer.bindPopup( points[i]["datalayerpopup"], {
			  			  closeButton: false
			  			} );
					} 
			  	} );	    
		        markers.addLayer(marker);
            }
            else if ( points[i]["geojson"]["geometry"]["type"] == "Polygon" ) {
                
            	var aPolygon = points[i]["geojson"]["geometry"]["coordinates"][0];
				var inverse = L.GeoJSON.coordsToLatLngs(aPolygon)
    		    
	    		var polygon = L.polygon(inverse, {color: points[i]["colorPolygon"], weight: points[i]["weight"] } );
	    		polygon.bindPopup(points[i]["datalayerpopup"], {
	    			  closeButton: false
	    		});
	    		markers.addLayer(polygon);
	    		if ( points[i]["inclusion"] === 'true' )
	        	{
	        		polygonInclusion.push( polygon );
	        	}
	    		else if ( points[i]["exclusion"] === 'true' )
	        	{
	        		polygonExclusion.push( polygon );
	        	}
				
				var center = polygon.getBounds().getCenter();
		
				var pointPolygon = L.marker(center, {icon: fontAwesomeIcon});
		        	
	            markersPolygon.addLayer(pointPolygon);
            
            
            }
			else if ( points[i]["geojson"]["geometry"]["type"] == "Polyline" ) {
            	var aPolyline = points[i]["geojson"]["geometry"]["coordinates"];
            	var inverse = L.GeoJSON.coordsToLatLngs(aPolyline);
    			var polyline = L.polyline(inverse, {color: points[i]["colorPolygon"], weight: points[i]["weight"] } );
    			polyline.bindPopup(points[i]["datalayerpopup"], {
    				  closeButton: false
    			});
    			markers.addLayer(polyline);
            }
        }
	
        else if ( points[i]["datalayersource"] == "WFS" )
        {
        
	        //Gestion flux WFS
			var customOptions =
		    {
		    	maxHeight: 200, maxWidth: 200, closeButton: false
		    }
	        
	        var wfsLayer = L.geoJson(null, {
	            pointToLayer: function (feature, latlng) {
	                return L.marker(latlng);
		        },
		            
		            // definition of the infotip
		   		onEachFeature: function popUpall(feature, layer) {
				    var out = [];
				 
				    if (feature.properties) {
						for (var key in feature.properties) {
						    out.push(key + ": " + feature.properties[key]);
						}
						layer.bindPopup(out.join("<br />"), customOptions);
				    }
		    	}
	        });
		
		// URL du service WFS
	        var wfsUrl = points[i]["datalayerurlWFS"];
	
	        // Paramètres WFS
	        var wfsParams = {
	            service: 'WFS',
			    version: points[i]["datalayerversionWFS"],
			    request: 'GetFeature',
			    typeName: points[i]["datalayertypenameWFS"],
			    maxFeatures: 2,
			    outputFormat: 'application/json',
	            srsname: 'EPSG:4326'
	        };
	
	        // Construire l'URL complète pour la requête WFS
	        var url = wfsUrl + L.Util.getParamString(wfsParams);
	
	        // Charger les données WFS et ajouter à la carte
	        fetch(url)
	            .then(response => response.json())
	            .then(data => {
	                wfsLayer.addData(data);
	                map.addLayer(wfsLayer);
	                map.fitBounds(wfsLayer.getBounds());
	            })
	            .catch(error => {
	                console.error('Error fetching WFS data:', error);
	            });
	        
			//overlayMaps["WFS Layer"] = wfsLayer;
	        //L.control.layers(null, overlayMaps).addTo(map);
	        var titleWFS = points[i]["datalayertitle"];
	        marker_clusters[titleWFS] = wfsLayer;
	        
        
        
        
        
        }
	
	
	}
	
	
        for (var markers in marker_clusters) {
            if (marker_clusters.hasOwnProperty(markers)) {
                map.addLayer(marker_clusters[markers]);
            }
        }
	
	var baseMaps = {
         '${basemap_title}': osm
        };
      var overlayMaps = marker_clusters;
      // paramétrage et ajout du L.control.layers à la carte
      L.control.layers(baseMaps, overlayMaps).addTo(map);

    var popup = L.popup();  

    var tabPointsCentroide = [];
    var isPoint = false;
  	map.on('zoomend', function() {
   	for (var markers in marker_clusters) {
   	   		if ( map.getZoom() < parseInt(mapZoomLayer.get(markers ) ) && map.hasLayer( marker_clusters[markers] ) ){
   	           	map.removeLayer( marker_clusters[markers] );
   			}
   	   		if ( map.getZoom() >= parseInt(mapZoomLayer.get(markers ) ) && !map.hasLayer( marker_clusters[markers] ) ){
 					map.addLayer( marker_clusters[markers] );
			}
   	  		 //polygon into marker
			marker_clusters[markers].eachLayer(function(l) {
			    if (l instanceof L.Polygon) {
					var currentZoom = map.getZoom();
	
				    // Seuil de zoom pour convertir le polygon en point
				    var thresholdZoom = parseInt(mapZoomPicto.get(markers ) );
	
				    if (currentZoom <= thresholdZoom) {
					// Récupérer le centre du polygon
					var center = l.getBounds().getCenter();
	
					// Supprimer le polygon
					map.removeLayer(l);
	
					
					isPoint = true;
				} else {
	
					// Ajouter à nouveau le polygon
					l.addTo(map);
					isPoint = false;
				}
				    
			    }
			    if (l instanceof L.Marker) {
		    		var currentZoom = map.getZoom();
		    		var newIcon;
		    		if ( currentZoom >= 0 && 7 >= currentZoom )
		    		{
		    			newIcon = mapZoomRangePicto0_7.get(markers )
		    			
		    		}
		    		else if ( currentZoom >= 8 && 12 >= currentZoom )
		    		{
		    			newIcon = mapZoomRangePicto8_12.get(markers )
		    		}
		    		else if ( currentZoom >= 13 && 15 >= currentZoom )
		    		{
		    			newIcon = mapZoomRangePicto13_15.get(markers )
		    		}
		    		else if ( currentZoom >= 16 && 19 >= currentZoom )
		    		{
		    			newIcon = mapZoomRangePicto16_19.get(markers )
		    		}
		    		l.setIcon(newIcon);
		    		
		  	  }
			});
   	}

   	if (isPoint)
   	{
   		map.addLayer(markersPolygon);
   	}
   	else
   	{
   		map.removeLayer(markersPolygon);
	}
    			    
    });
  
    //map.on('click', addMarker);
    
    // Initialise the FeatureGroup to store editable layers
	var editableLayers = new L.FeatureGroup();
	map.addLayer(editableLayers);
	
	var drawPluginOptions = {
	  position: 'topright',
	  draw: {
	    polygon: {
	      allowIntersection: false, // Restricts shapes to simple polygons
	      shapeOptions: {
	        color: '#97009c'
	      }
	    },
	    // disable toolbar item by setting it to false
	    polyline: {
	    	allowIntersection: false
	    },
	    circle: false, // Turns off this drawing tool
	    rectangle: false,
	    marker: true,
	    circlemarker : false
	    },
	  edit: {
	    featureGroup: editableLayers, //REQUIRED!!
	    remove: true,
	    poly: {
            allowIntersection: false
        }
	  }
	};
	
	// Initialise the draw control and pass it the FeatureGroup of editable layers
	var drawControl = new L.Control.Draw(drawPluginOptions);
	map.addControl(drawControl);
	
	<#if data_layer_editable??>
	var typeDraw = "${data_layer_editable.geometryType.technicalName}";
	if ( typeDraw === 'Point' )
	{
		document.getElementsByClassName('leaflet-draw-draw-polygon')[0].style.display = 'none';
		document.getElementsByClassName('leaflet-draw-draw-polyline')[0].style.display = 'none';
		//document.getElementById("search_adress").style.visibility = 'visible';	
	}
	else if ( typeDraw === 'Polygon' )
	{
		document.getElementsByClassName('leaflet-draw-draw-marker')[0].style.display = 'none';
		document.getElementsByClassName('leaflet-draw-draw-polyline')[0].style.display = 'none';
		//document.getElementById("search_adress").style.visibility = 'hidden';
	}
	else if ( typeDraw === 'Polyline' )
	{
		document.getElementsByClassName('leaflet-draw-draw-marker')[0].style.display = 'none';
		document.getElementsByClassName('leaflet-draw-draw-polygon')[0].style.display = 'none';
		//document.getElementById("search_adress").style.visibility = 'hidden';	
	}
<#else>
	document.getElementsByClassName('leaflet-draw-draw-marker')[0].style.display = 'none';
	document.getElementsByClassName('leaflet-draw-draw-polyline')[0].style.display = 'none';
	document.getElementsByClassName('leaflet-draw-draw-polygon')[0].style.display = 'none';
	//document.getElementById("search_adress").style.visibility = 'hidden';
</#if>
	
	// Truncate value based on number of decimals
        var _round = function(num, len) {
            return Math.round(num*(Math.pow(10, len)))/(Math.pow(10, len));
        };
        // Helper method to format LatLng object (x.xxxxxx, y.yyyyyy)
        var strLatLng = function(latlng) {
            return "("+_round(latlng.lat, 6)+", "+_round(latlng.lng, 6)+")";
        };


        // Object created - bind popup to layer, add to feature group
        map.on(L.Draw.Event.CREATED, function(event) {
            var layer = event.layer;
            var content = getPopupContent(layer);
            if (content !== null) {
                layer.bindPopup(content);
            }
            //NLG A enlever possiblement
            //drawnItems.addLayer(layer);
            editableLayers.addLayer(layer);
        });

        // Object(s) edited - update popups
        /*
        map.on(L.Draw.Event.EDITED, function(event) {
            var layers = event.layers,
                content = null;
            layers.eachLayer(function(layer) {
                content = getPopupContent(layer);
                if (content !== null) {
                    layer.setPopupContent(content);
                }
            });
        });
        */
        
        function isMarkerInsideMultiPolygon(marker, multiPoly) {
    	    var inside = false;
    	    if ( multiPoly.length == 0 )
    	    {
    	    	return true;
    	    }
    	    for (var i = 0; i < multiPoly.length; i++) {
    		inside = isMarkerInsidePolygon(marker, multiPoly[i])
    		if ( inside ) 
    		{
    			return inside
    		}
    	    }
    	    
    	    return inside;
    	};
    	
    	function isMarkerOutsideMultiPolygon(marker, multiPoly) {
    	    var outside = true;
    	    if ( multiPoly.length == 0 )
    	    {
    	    	return true;
    	    }
    	    for (var i = 0; i < multiPoly.length; i++) {
    		outside = !isMarkerInsidePolygon(marker, multiPoly[i])
    		if ( !outside ) 
    		{
    			return outside
    		}
    	    }
    	    
    	    return outside;
    	};
    	
    	function isPolygonIntersect( polyIntersect ){
    		
    		if ( polygonExclusion.length > 0 )
    		{
    		
				var polygonCoords2 = polygonExclusion[0].getLatLngs()[0];
				
				// Transformer les coordonnées en un format compatible avec Turf.js
				var turfCoordsExclu = polygonCoords2.map(function(latlng) {
				    return [latlng.lng, latlng.lat];
				});
				// Mettre les coordonnees du premier point à la fin pour avoir un polygon correct
				turfCoordsExclu.push( turfCoordsExclu[0] );
				
				
				var polygonCoords = polyIntersect.getLatLngs()[0]; // Leaflet stocke les coordonnées dans un tableau de tableaux
	
				// Transformer les coordonnées en un format compatible avec Turf.js
				var turfCoords = polygonCoords.map(function(latlng) {
				    return [latlng.lng, latlng.lat];
				});
				// Mettre les coordonnees du premier point à la fin pour avoir un polygon correct
				turfCoords.push( turfCoords[0] );
	
				// Créer un turf.polygon
				var turfPolygon = turf.polygon( [ turfCoords ] );
				var turfPolygonExclu = turf.polygon( [ turfCoordsExclu ] );
				
				var intersection = turf.intersect(turfPolygon, turfPolygonExclu);
				return intersection;
    		}
    		else
    		{
    			return false;
    		}
    	};
    	
    	function isPolylineIntersect( polyline ) {
    	
    		if ( polygonExclusion.length > 0 )
    		{
	    	
	    	    var polygonCoords2 = polygonExclusion[0].getLatLngs()[0];
	    		
	    		// Transformer les coordonnées en un format compatible avec Turf.js
	    		var turfCoordsExclu = polygonCoords2.map(function(latlng) {
	    		    return [latlng.lng, latlng.lat];
	    		});
	    		turfCoordsExclu.push( turfCoordsExclu[0] );
	    		
	    		
	    		var polygonCoords = polyline.getLatLngs(); // Leaflet stocke les coordonnées dans un tableau de tableaux

	    		// Transformer les coordonnées en un format compatible avec Turf.js
	    		var turfCoords = polygonCoords.map(function(latlng) {
	    		    return [latlng.lng, latlng.lat];
	    		});
	    		turfCoords.push( turfCoords[0] );

	    		// Créer un turf.polygon
	    		var turfPolyline = turf.lineString( turfCoords );
	    		var turfPolygonExclu = turf.polygon( [ turfCoordsExclu ] );
	    		
	    		
	    		var intersection = turf.lineIntersect(turfPolyline, turfPolygonExclu);
	    		
	    		return intersection;
    		}
    		else {
    			return false
    		}
    	
    	};
        

        function isMarkerInsidePolygon(marker, poly) {
		    var polyPoints = poly.getLatLngs();       
		    var x = marker.getLatLng().lat, y = marker.getLatLng().lng;
	
		    var inside = false;
		    for (var i = 0, j = polyPoints[0].length - 1; i < polyPoints[0].length; j = i++) {
		    	var xi = polyPoints[0][i].lat, yi = polyPoints[0][i].lng;
				var xj = polyPoints[0][j].lat, yj = polyPoints[0][j].lng;
	
				var intersect = ((yi > y) != (yj > y))
				    && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);
				if (intersect) inside = !inside;
		    }
	
		    return inside;
		};        
	
	var markerPoint;
	var markerPoly;
	L.Draw.Marker.include({
	  _onClick: function () {
	    // our hack
	    if ( !isMarkerInsideMultiPolygon( this._marker, polygonInclusion ) || !isMarkerOutsideMultiPolygon( this._marker, polygonExclusion ) ) {
	    return;
	    }
	    
	    document.getElementById('coordinate_x').value= this._marker.getLatLng().lng;
	    document.getElementById('coordinate_y').value= this._marker.getLatLng().lat;
	    // original code
	    this._fireCreatedEvent();
	    this.disable();
	    if (this.options.repeatMode) {
	      this.enable();
	    }
	    
	  },
	  
	  _fireCreatedEvent: function () {
		var marker = new L.Marker.Touch(this._marker.getLatLng(), {icon: this.options.icon});
		L.Draw.Feature.prototype._fireCreatedEvent.call(this, marker);
		
		if ( markerPoint != undefined && map.hasLayer(markerPoint) )
		    {
		    	map.removeLayer( markerPoint )
		    }
		markerPoint = marker;
	  }
	});
	
	L.Draw.Polyline.include({
	  _createMarker: function (latlng) {
		var marker = new L.Marker(latlng, {
			icon: this.options.icon,
			zIndexOffset: this.options.zIndexOffset * 2
		});

		if (! isMarkerInsideMultiPolygon( marker, polygonInclusion ) || !isMarkerOutsideMultiPolygon( marker, polygonExclusion ) ) {
	    return;
	    }
		//document.getElementById('coordinate_polygon').value = document.getElementById('coordinate_polygon').value + marker.getLatLng().lng + "," + marker.getLatLng().lat +";";

		this._markerGroup.addLayer(marker);

		return marker;
	},
	addVertex: function (latlng) {
		var markersLength = this._markers.length;
		// markersLength must be greater than or equal to 2 before intersections can occur
		if (markersLength >= 2 && !this.options.allowIntersection && this._poly.newLatLngIntersects(latlng)) {
			this._showErrorTooltip();
			return;
		}
		else if (this._errorShown) {
			this._hideErrorTooltip();
		}
		
		var limitVertex = '${limit_vertex}';
		if ( markersLength >= limitVertex )
		{
			toastr.error('#i18n{module.cartography.solr.manage_map.error.toomuchvertex}');
			return;
		}
		
		//NLG
		var marker = new L.Marker(latlng, {
			icon: this.options.icon,
			zIndexOffset: this.options.zIndexOffset * 2
		});

		if (! isMarkerInsideMultiPolygon( marker, polygonInclusion ) || !isMarkerOutsideMultiPolygon( marker, polygonExclusion ) ) {
		    return;
		    }
		
		
		this._markers.push(this._createMarker(latlng));

		this._poly.addLatLng(latlng);

		if (this._poly.getLatLngs().length === 2) {
			this._map.addLayer(this._poly);
		}

		this._vertexChanged(latlng, true);
	},
	_fireCreatedEvent: function () {
		var poly = new this.Poly(this._poly.getLatLngs(), this.options.shapeOptions);
		L.Draw.Feature.prototype._fireCreatedEvent.call(this, poly);
		
		if ( markerPoly != undefined && map.hasLayer(markerPoly) )
		    {
		    	map.removeLayer( markerPoly )
		    }
		markerPoly = poly;
	}
	});
	
	mapsPlaceholder.push( map );

// Add local storage param to show/hide map 
$( function(){
    const map = '#forms-admin-map', btnMap = '#forms-admin-map + button';
    let mapVisibity = localStorage.getItem( 'admin-forms-map-visibility' );
    let isMapVisible = mapVisibity != null ? ( mapVisibity === 'true' ) : true;
    if( !isMapVisible ){
        $( map ).toggle();
        $( btnMap ).children().toggleClass('fa-expand');
    }
    $( '#admin-forms-map-toggle' ).on( 'click', function(){
        $( map ).toggle();
        $( btnMap ).children().toggleClass('fa-expand');
        localStorage.setItem( 'admin-forms-map-visibility' , !isMapVisible )
    });
})
</script>

<link rel="stylesheet" type="text/css" href="js/jquery/plugins/ui/css/jquery-ui.css"/>

<script type="text/javascript" src="js/jquery/jQuery.onReady.js"></script>
<script type="text/javascript" src="js/jquery/plugins/ui/jquery-ui.custom-autocomplete.min.js"></script>
<script type="text/javascript" src="jsp/site/plugins/address/modules/autocomplete/SetupSuggestPOI.js.jsp"></script>
<script type="text/javascript" src="js/plugins/address/modules/autocomplete/jQuery.suggestPOI.js"></script>

<script type="text/javascript">
        $(window).on( 'load', function () {
            const currStep=$('.step-current .step-content'), hasCheckAdr=currStep.find('.checkaddress').length;
            if( hasCheckAdr > 0 ){
                currStep.addClass('checkadress');
                currStep.find('[name="action_doSaveStep"]').attr('disabled','disabled');
            }

            var jAdresse = $('#center_map');
            var jAdresseId = $('#4_idAddress');
            var jAdresseX = $('#coordinate_x');
            var jAdresseY = $('#coordinate_y');
            var jAdresseGeometry = $('#4_geometry');
            
            
            jAdresse.suggestPOI();
            jAdresse.bind( $.suggestPOI.EVT_SELECT, function (event) {
                event.preventDefault();
                var marker = L.marker( [event.poi.y, event.poi.x]);
                if ( typeDraw === 'Point' )
        		{
	                if (! isMarkerInsideMultiPolygon( marker, polygonInclusion ) || !isMarkerOutsideMultiPolygon( marker, polygonExclusion ) ) {
						toastr.error('#i18n{module.cartography.solr.manage_map.error.createPointInclusive}');
						return;
					}
	                if ( !isMarkerOutsideMultiPolygon( marker, polygonExclusion ) ) {
						toastr.error('#i18n{module.cartography.solr.manage_map.error.createPointExclusif}');
						return;
					}
	                jAdresseGeometry.val(event.poi.type);
	                jAdresseY.val(event.poi.y);
	                jAdresseX.val(event.poi.x);
        		}
                if ( markerPoint != undefined && map.hasLayer(markerPoint) )
    		    {
    		    	map.removeLayer( markerPoint )
    		    }
                marker.addTo(map);
                map.setView(marker.getLatLng(), 15);
                markerPoint = marker;
                
                jAdresseId.val(event.poi.id);
				jAdresse.addClass('wssuggest');
				jAdresse.removeClass('is-invalid').next('.invalid-feedback').remove();
            });
			
			/* Remove unused field with wsadress */
			$('#4_address_results').remove();
			
			/* JIRA :           																	 */
			/* Check if an entry has been selected in the data list and prevent from validating step */
            

            var wsv = sessionStorage.getItem('wsvalidated_4');
            if( wsv === 'done' ){
                jAdresse.addClass('wssuggest');
                jAdresse.removeClass('is-invalid').next('.invalid-feedback').remove();
                $('[name="action_doSaveStep"]').removeAttr('disabled');
            } 

            if( hasCheckAdr > 0 ){
                jAdresse.on( 'focus', (e) => {
                    if( $(e.target).hasClass('wsvalidated') ){
                        $(e.target).addClass('wssuggest');
                    }
                });
                
                jAdresse.on( 'keyup', (e) => {
                    if( $(e.target).hasClass('wssuggest') ){
                        $(e.target).removeClass('wssuggest').removeClass('wsvalidated');
                        $('.btn-action').attr('disabled','disabled');
                    }
                });
                
                jAdresse.on( 'blur', (e) => {
                    if( !$(e.target).hasClass('wssuggest') ){
                        $(e.target).addClass('is-invalid');
                        $(e.target).next('.invalid-feedback').length===0 ? $(e.target).after('<div class="invalid-feedback">Vous devez sélectionner un adresse dans la liste proposée.</div>') : '';
                        $('.btn-action').attr('disabled','disabled');
                        $(e.target).focus();
                    } else {
                        $(e.target).addClass('wsvalidated').removeClass('wssuggest').removeClass('is-invalid').next('.invalid-feedback').remove();
                        $('.btn-action').removeAttr('disabled');
                        sessionStorage.setItem('wsvalidated_4', 'done');
                    }
                });
            }
            
        });
</script>

